.admin-table .ant-pagination-item {
    border: 1px solid #ffffff;
    color: black !important;
    background: #ffffff !important;
    border-radius: px solid black !important;
  }
  
 .admin-table .ant-pagination-item-active{
    border: 1px solid #ffffff !important;
  }

.ant-modal-content{
  background-color: rgb(101,101,101) !important;
  
}

#edit-modal label{
  color: rgb(255, 255, 255) !important;
}

#edit-modal input, #edit-modal textarea{
  color: rgb(0, 0, 0) !important;
  background-color: white !important;
}

#edit-modal .ant-input-data-count{
  color: rgb(255, 255, 255) !important;
}

#edit-modal .ant-form-item-tooltip{
  color: #ffffff !important
}

