.about-us-card{
    filter: grayscale(70%);
}

.about-us-card:hover{
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    filter: grayscale(0%);
    transform: scale(1.04);
  transition-duration: 0.3s;
}

.fa-github , .fa-linkedin-in{
    color: grey;
}

.fa-linkedin-in:hover{
    color: #0077b5;
    transform: scale(1.1);
  transition-duration: 0.3s;
}

.fa-github:hover{
    color: #ffffff;
    transform: scale(1.1);
  transition-duration: 0.3s;
}

@media (orientation: portrait) {
    .about-us-card{
        width: 60vw;
        filter: grayscale(0%);
    }
}