.ant-picker-dropdown{
    z-index: 5000;
}

.bi{
    height: auto !important;
    width: 3rem !important;
}

.containerTable{
    max-width: 100vw !important;
    overflow-x: auto;
}

@media all and (max-width: 576px) {
    .imgcarousel {
      object-fit: cover;
    }
  }
  
  .imgcarousel{
    /* max-height: 75vh; */
    object-fit: cover;
  }