.ant-picker-dropdown {
  z-index: 5000;
}

.bi {
  height: auto !important;
  width: 3rem !important;
}
/*  #root {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    358deg,
    rgba(8, 2, 131, 0.596) 0%,
    rgb(3, 124, 172) 20%,
    rgba(0, 212, 255, 1) 100%
  );
  overflow: hidden;
}  */

 #root {
    background-color: #000000;
    opacity: 0.8;
    background-image: radial-gradient(#ffffff17 2px, #000000 2px);
    background-size: 40px 40px;
  }  

.anticon-right{
    color: white;
}

.anticon-left {
    color: white;
}