.survey-details-components input::placeholder{
    color: black !important;
}

.survey-details-components span {
 color: white !important;
}

.survey-details-components .ant-pagination-item{
    border: 1px solid #ffffff;
    color: black !important;
    background: #ffffff !important;
    border-radius: 1px solid black !important;
  }
  
 .survey-details-components .ant-pagination-item-active{
    border: 1px solid #ffffff !important;
  }